<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @redemption.user %>
</p>

<p>
  <strong>Outlet:</strong>
  <%= @redemption.outlet %>
</p>

<p>
  <strong>Points:</strong>
  <%= @redemption.points %>
</p>

<%= link_to 'Edit', edit_redemption_path(@redemption) %> |
<%= link_to 'Back', redemptions_path %>
