<div data-role="page" class="main_content span12" style="width: auto;" data-theme="b" id="dashboardComments" ng-controller="dashboardCommentsCtrl">
	<style>
		body {
			background: none repeat scroll 0 0 #FFFFFF !important;
		}

		.ngView {
			padding: 0;
		}
		.navBarCls .nav-tabs > li > a, .nav-pills > li > a {
			padding: 6px 12px !important;
		}
		#dp2, #dp3 {
			margin: 6px;
		}
		.viewAccPage {
			margin: 15px 19px;
			padding: 5px 0;
		}
		.showNav ul {
			margin-right: 17px !important
		}
		.header .headerLogo {
			margin: 0 22px;
			width: auto;
		}
	</style>
	<div class="showNav navBarCls" >
		<div class="dashboardHeader">
			<input type="text" style="width: 210px" name="reservation" id="reportrange" value="Date from - Date to"  class="span4 firstshow"/>
			<select ng-model="outletOption" class="outletDropDown" ng-change="selectOutlet()" ng-options="value.id as value.name+', '+value.address for value in outletNameList">
				<option value="">Select Outlet</option>
			</select>
		</div>
		<ul class="span12 nav nav-tabs">
			<li id="comments" class="dashboardLi diffLinks">
				<a ng-show="addOutletId" href="#/comments?outletId={{addOutletNo}}" style="border-bottom:none"><%= image_tag 'ic_comments.png' %>COMMENTS</a>
				<a ng-hide="addOutletId" href="#/comments" style="border-bottom:none"><%= image_tag 'ic_comments.png' %>COMMENTS</a>
			</li>
			<li id="trends" class="dashboardLi diffLinks">
				<a ng-show="addOutletId" href="#/trends?outletId={{addOutletNo}}"><%= image_tag 'ic_trends.png' %>TRENDS</a>
				<a ng-hide="addOutletId" href="#/trends"><%= image_tag 'ic_trends.png' %>TRENDS</a>
			</li>
			<li id="snapshot" class="active dashboardLi diffLinks">
				<a ng-show="addOutletId" href="#/snapshot?outletId={{addOutletNo}}" class="active"><%= image_tag 'ic_snapshots.png' %>SNAPSHOT </a>
				<a ng-hide="addOutletId" href="#/snapshot" class="active"><%= image_tag 'ic_snapshots.png' %>SNAPSHOT </a>
			</li>
		</ul>
	</div>

	<div id="outletManager" class="viewAccPage commentsDiv"  >
		<h3 class="redemptionMsg" ng-show="!feedbackList.length"><span ng-show="feedBackListCount">Your customers have not submitted any feedback.</span></h3>
		<div ng-show="feedbackList.length" class="home_page_view">
			<div ng-repeat="feedbacks in feedbackList" class="feedback_step">
				<div class="divPadding promo_code">
					<span class="promo_txt">Promoter Score</span>
					<br/>
					<span class="promo_value">{{feedbacks.promoter_score}}</span>
				</div>
				<div class="divPadding promo_code_def">
					<div style="">
						<div class="def_icon">
							<div ng-switch on="feedbacks.food_quality">
								<span ng-switch-when="1"> <%= image_tag 'ic_yellow_tick.png'%> </span>
								<span ng-switch-when="-1"> <%= image_tag 'ic_red_cross.png'%> </span>
								<span ng-switch-when="0"> <%= image_tag 'ic_grey_round.png'%> </span>
							</div>

							Food
						</div>
						<div class="def_icon">
							<div ng-switch on="feedbacks.speed_of_service">
								<span ng-switch-when="1"> <%= image_tag 'ic_yellow_tick.png'%> </span>
								<span ng-switch-when="-1"> <%= image_tag 'ic_red_cross.png'%> </span>
								<span ng-switch-when="0"> <%= image_tag 'ic_grey_round.png'%> </span>
							</div>
							Speed
						</div>
						<div class="def_icon">
							<div ng-switch on="feedbacks.ambience">
								<span ng-switch-when="1"> <%= image_tag 'ic_yellow_tick.png'%> </span>
								<span ng-switch-when="-1"> <%= image_tag 'ic_red_cross.png'%> </span>
								<span ng-switch-when="0"> <%= image_tag 'ic_grey_round.png'%> </span>
							</div>
							Ambiance
						</div>
						<div class="def_icon">
							<div ng-switch on="feedbacks.value_for_money">
								<span ng-switch-when="1"> <%= image_tag 'ic_yellow_tick.png'%> </span>
								<span ng-switch-when="-1"> <%= image_tag 'ic_red_cross.png'%> </span>
								<span ng-switch-when="0"> <%= image_tag 'ic_grey_round.png'%> </span>
							</div>
							Value
						</div>
						<div class="def_icon">
							<div ng-switch on="feedbacks.friendliness_of_service">
								<span ng-switch-when="1"> <%= image_tag 'ic_yellow_tick.png'%> </span>
								<span ng-switch-when="-1"> <%= image_tag 'ic_red_cross.png'%> </span>
								<span ng-switch-when="0"> <%= image_tag 'ic_grey_round.png'%> </span>
							</div>
							Friendliness
						</div>
						<div class="def_icon">
							<div ng-switch on="feedbacks.cleanliness">
								<span ng-switch-when="1"> <%= image_tag 'ic_yellow_tick.png'%> </span>
								<span ng-switch-when="-1"> <%= image_tag 'ic_red_cross.png'%> </span>
								<span ng-switch-when="0"> <%= image_tag 'ic_grey_round.png'%> </span>
							</div>
							Clean
						</div>
					</div>
				</div>
				<div class="divPadding promo_code_desc">
					<span>{{feedbacks.comment}}</span>
					<div class="update_time">
						<span class="timeago" >{{feedbacks.updated_at | date:'h:mm a, EEEE MMM. d, y'}}</span>
					</div>
				</div>
				<div class="reachOut">
					<div ng-switch on="feedbacks.user_status">
						<div ng-switch-when="reach_out"><div ng-click="reachOutEmail(feedbacks.id)"><%= image_tag 'reach.png'%> </br> <span>Reach Out</span></div></div>
						<div ng-switch-when="pending"><div><%= image_tag 'pending.png'%> </br> <span>Pending</span></div></div>
						<div ng-switch-when="accepted"><div><%= image_tag 'tick.png'%> </br> <span>Accepted</span></div></div>
						<div ng-switch-when="rejected"><div><%= image_tag 'del.png'%> </br> <span>Declined</span></div></div>
					</div>
				</div>
				<!-- <div class="clr"></div> -->

			</div>
		</div>
	</div>
	<script type="text/javascript"></script>
</div>
