<div id="homepage" align="center" ng-controller="homePageController" >
	<h3 class="redemptionMsg" ng-show="feedbkMsg">Your customers have not submitted any feedback today</h3>
	<div ng-show="feedbackList.length" class="home_page_view">
		<!-- <div id="refresh" ng-click="refresh()">
		<strong>Refresh feedbacks</strong>
		</div> -->
		<div id="pullDown">
			<span class="pullDownIcon"></span><span class="pullDownLabel">Pull down to refresh...</span>
		</div>
		<div class="clr"></div>
		<div ng-repeat="feedbacks in feedbackList" class="feedback_step">
			<div class="divPadding promo_code">
				<span class="promo_txt">Promoter
					<br/>
					Score</span>
				<br/>
				<span class="promo_value">{{feedbacks.promoter_score}}</span>
			</div>
			<div class="divPadding promo_code_def">
				<div style=" ">
					<div class="def_icon">
						<div ng-switch on="feedbacks.food_quality">
							<span ng-switch-when="1"> <%= asset_path 'ic_yellow_tick.svg' ,height: '21'%> </span>
							<span ng-switch-when="-1"> <%= asset_path 'ic_red_cross.svg' , height: '21'%> </span>
							<span ng-switch-when="0"> <%= asset_path 'ic_grey_round.svg' , height: '21'%> </span>
						</div>

						Food
					</div>
					<div class="def_icon">
						<div ng-switch on="feedbacks.speed_of_service">
							<span ng-switch-when="1"> <%= asset_path 'ic_yellow_tick.svg' , height: '21'%> </span>
							<span ng-switch-when="-1"> <%= asset_path 'ic_red_cross.svg' , height: '21'%> </span>
							<span ng-switch-when="0"> <%= asset_path 'ic_grey_round.svg' , height: '21'%> </span>
						</div>
						Speed
					</div>
					<div class="def_icon">
						<div ng-switch on="feedbacks.ambience">
							<span ng-switch-when="1"> <%= asset_path 'ic_yellow_tick.svg' , height: '21'%> </span>
							<span ng-switch-when="-1"> <%= asset_path 'ic_red_cross.svg' , height: '21'%> </span>
							<span ng-switch-when="0"> <%= asset_path 'ic_grey_round.svg' , height: '21'%> </span>
						</div>
						Ambiance
					</div>
					<div class="def_icon">
						<div ng-switch on="feedbacks.value_for_money">
							<span ng-switch-when="1"> <%= asset_path 'ic_yellow_tick.svg' , height: '21'%> </span>
							<span ng-switch-when="-1"> <%= asset_path 'ic_red_cross.svg' , height: '21'%> </span>
							<span ng-switch-when="0"> <%= asset_path 'ic_grey_round.svg' , height: '21'%> </span>
						</div>
						Value
					</div>
					<div class="def_icon">
						<div ng-switch on="feedbacks.friendliness_of_service">
							<span ng-switch-when="1"> <%= asset_path 'ic_yellow_tick.svg' , height: '21'%> </span>
							<span ng-switch-when="-1"> <%= asset_path 'ic_red_cross.svg' , height: '21'%> </span>
							<span ng-switch-when="0"> <%= asset_path 'ic_grey_round.svg' , height: '21'%> </span>
						</div>
						Friendliness
					</div>
					<div class="def_icon">
						<div ng-switch on="feedbacks.cleanliness">
							<span ng-switch-when="1"> <%= asset_path 'ic_yellow_tick.svg' , height: '21'%> </span>
							<span ng-switch-when="-1"> <%= asset_path 'ic_red_cross.svg' , height: '21'%> </span>
							<span ng-switch-when="0"> <%= asset_path 'ic_grey_round.svg' , height: '21'%> </span>
						</div>
						Clean
					</div>
				</div>
			</div>
			<div class="divPadding promo_code_desc">
				<span>{{feedbacks.comment}}</span>
			</div>
			<div class="clr"></div>
			<div class="update_time">
				<span class="timeago" >{{feedbacks.updated_at | fromNow}}</span>
			</div>
		</div>
	</div>
	<div id="pullUp">
		<span class="pullUpIcon"></span><span class="pullUpLabel"></span>
	</div>
</div>

