<h1>Listing social_network_accounts</h1>

<table>
  <thead>
    <tr>
      <th>Access token</th>
      <th>Access secret</th>
      <th>Refresh token</th>
      <th>Provider</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @social_network_accounts.each do |social_network_account| %>
      <tr>
        <td><%= social_network_account.access_token %></td>
        <td><%= social_network_account.access_secret %></td>
        <td><%= social_network_account.refresh_token %></td>
        <td><%= social_network_account.provider %></td>
        <td><%= social_network_account.user %></td>
        <td><%= link_to 'Show', social_network_account %></td>
        <td><%= link_to 'Edit', edit_social_network_account_path(social_network_account) %></td>
        <td><%= link_to 'Destroy', social_network_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social network account', new_social_network_account_path %>
