<p id="notice"><%= notice %></p>

<p>
  <strong>Access token:</strong>
  <%= @social_network_account.access_token %>
</p>

<p>
  <strong>Access secret:</strong>
  <%= @social_network_account.access_secret %>
</p>

<p>
  <strong>Refresh token:</strong>
  <%= @social_network_account.refresh_token %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @social_network_account.provider %>
</p>

<p>
  <strong>User:</strong>
  <%= @social_network_account.user %>
</p>

<%= link_to 'Edit', edit_social_network_account_path(@social_network_account) %> |
<%= link_to 'Back', social_network_accounts_path %>
