<h1>Listing feedbacks</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Score</th>
      <th>Comment</th>
      <th>Will recommend</th>
      <th>Completed</th>
      <th>Points</th>
      <th>User</th>
      <th>Outlet</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.code %></td>
        <td><%= feedback.score %></td>
        <td><%= feedback.comment %></td>
        <td><%= feedback.will_recommend %></td>
        <td><%= feedback.completed %></td>
        <td><%= feedback.points %></td>
        <td><%= feedback.user %></td>
        <td><%= feedback.outlet %></td>
        <td><%= link_to 'Show', feedback %></td>
        <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
        <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback', new_feedback_path %>
