<h1>Listing payment_invoices</h1>

<table>
  <thead>
    <tr>
      <th>Kanari invoice</th>
      <th>Receipt date</th>
      <th>Amount paid</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_invoices.each do |payment_invoice| %>
      <tr>
        <td><%= payment_invoice.kanari_invoice_id %></td>
        <td><%= payment_invoice.receipt_date %></td>
        <td><%= payment_invoice.amount_paid %></td>
        <td><%= payment_invoice.customer %></td>
        <td><%= link_to 'Show', payment_invoice %></td>
        <td><%= link_to 'Edit', edit_payment_invoice_path(payment_invoice) %></td>
        <td><%= link_to 'Destroy', payment_invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment invoice', new_payment_invoice_path %>
