<p id="notice"><%= notice %></p>

<p>
  <strong>Kanari invoice:</strong>
  <%= @payment_invoice.kanari_invoice_id %>
</p>

<p>
  <strong>Receipt date:</strong>
  <%= @payment_invoice.receipt_date %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @payment_invoice.amount_paid %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @payment_invoice.customer %>
</p>

<%= link_to 'Edit', edit_payment_invoice_path(@payment_invoice) %> |
<%= link_to 'Back', payment_invoices_path %>
