<div data-role="page" data-theme="b" id="feedback_step2" ng-controller="feedback_step2Controller">
	<style>
.home {
background-image: url(<%= asset_path 'sprite_mobile.png' %>
);
background-position: -309px -471px;
cursor: pointer;
float: left;
height: 56px;
width: 45px;
}
.nextArrow{
background-image: url(<%= asset_path 'sprite_mobile.png' %>
);
background-position: -464px -608px;
cursor: pointer;
float: right;
height: 23px;
width: 21px;
}
.food {
background-image: url(<%= asset_path 'sprite_mobile.png' %>
);
background-position: -489px -654px;
cursor: pointer;
height: 86px;
width: 106px;
}
.friendliness{
background-image: url(<%= asset_path 'sprite_mobile.png' %>
	);
	background-position: -489px -654px;
	cursor: pointer;
	height: 86px;
	width: 106px;
	}
	</style>
	<div data-role="content">
		<div class="username">
			<div class="home" ng-click="home()"></div>
			<div class="signUp">
				LEAVE FEEDBACK
			</div>
			<div class="clr"></div>
		</div>
		<div class="outerDiv">
			<div ng-show="dislike">
				What do you think the restaurant did not do particular well?
			</div>
			<div ng-show="like">
				What do you think the restaurant did particular well?
			</div>
			<div ng-show="recomendation">
				How likely are you recommend this place to a friend or colleague?
			</div>
		</div>
		<div class="keypad" ng-show="optionKeypad">
			<div class="menDiv">
				<div class="backColr" id="feed_0" ng-click="select_feedback_category('0')">
					<%= image_tag 'b_food_1.png' %>
					<span class="feedbackStep2Txt">FOOD</span>
				</div>
				<div class="backColr" id="feed_1" ng-click="select_feedback_category('1')">
					<%= image_tag 'b_friendlines_1.png' %>
					<span class="feedbackStep2Txt">FRIENDLINESS</span>
				</div>
				<div class="clr"></div>
			</div>
			<div class="menDiv">
				<div class="backColr" id="feed_2" ng-click="select_feedback_category('2')">
					<%= image_tag 'b_speed_1.png' %>
					<span class="feedbackStep2Txt">SPEED</span>
				</div>
				<div class="backColr" id="feed_3" ng-click="select_feedback_category('3')">
					<%= image_tag 'b_ambiance_1.png' %>
					<span class="feedbackStep2Txt">AMBIANCE</span>
				</div>
				<div class="clr"></div>
			</div>
			<div class="menDiv">
				<div class="backColr" id="feed_4" ng-click="select_feedback_category('4')">
					<%= image_tag 'b_cleanliness_1.png' %>
					<span class="feedbackStep2Txt">CLEANLINESS</span>
				</div>
				<div class="backColr" id="feed_5" ng-click="select_feedback_category('5')">
					<%= image_tag 'b_value_1.png' %>
					<span class="feedbackStep2Txt">VALUE FOR MONEY</span>
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<div class="recommendationDiv" ng-show="recomendationBar">
			<div>
				<div ng-repeat="count in counts" id="feedback_{{count}}" class="Ybar" ng-click="recommendation(count)">
					{{count}}
				</div>
				<div class="clr"></div>
			</div>
			<div class="yesNoDiv">
				<div class="no">
					NO
				</div>
				<div class="yes">
					YES
				</div>
			</div>
			<div class="clr"></div>
			<div class="yellowBorder"></div>
			<div class="adviceDiv" align="center">
				<div class="msg">
					What advice would you leave for the manager?
				</div>
				<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
					<input data-theme="a" data-inline="true" type="text" ng-model="comment" placeholder="...."/>
				</div>
			</div>
		</div>
		<div class="footerDiv">
			<div class="prev" ng-click="previous()">
				<div class="prevTxt" >
					PREVIOUS
				</div>
				<%= image_tag 'p_arrow_left.png' %>
			</div>
			<div class="nxt" ng-click="next()">
				<div class="nxtTxt" >
					NEXT
				</div>
				<%= image_tag 'y_arrow_right.png' %>
				<div class="clr"></div>
			</div>
		</div>

	</div>

