<div data-role="page" data-theme="b" id="feedback_step2" ng-controller="feedback_step2Controller">
	<style>
.home {
background-image: url(<%= asset_path 'sprite_mobile.png' %>
);
background-position: -309px -471px;
cursor: pointer;
float: left;
height: 56px;
width: 45px;
}
.nextArrow{
background-image: url(<%= asset_path 'sprite_mobile.png' %>
);
background-position: -464px -608px;
cursor: pointer;
float: right;
height: 23px;
width: 21px;
}
.food {
background-image: url(<%= asset_path 'sprite_mobile.png' %>
);
background-position: -489px -654px;
cursor: pointer;
height: 86px;
width: 106px;
}
.friendliness{
background-image: url(<%= asset_path 'sprite_mobile.png' %>
	);
	background-position: -489px -654px;
	cursor: pointer;
	height: 86px;
	width: 106px;
	}
	</style>
	<div data-role="content">
		<div class="username">
			<div class="home" ng-click="home()"></div>
			<div class="signUp">
				LEAVE FEEDBACK
			</div>
			<div class="clr"></div>
		</div>
		<div class="outerDiv">
			<div ng-show="dislike">
				What do you think the restaurant did not do particular well?
			</div>
			<div ng-show="like">
				What do you think the restaurant did particular well?
			</div>
		</div>
		<div class="keypad">
			<div class="menDiv">
				<div class="backColr" id="food" ng-click="select_feedback_category('food')">
					<%= image_tag 'b_food_1.png' %> 
					<span class="feedbackStep2Txt">FOOD</span>
				</div>
				<div class="backColr" id="friendlines" ng-click="select_feedback_category('friendlines')">
					<%= image_tag 'b_friendlines_1.png' %>
					<span class="feedbackStep2Txt">FRIENDLINESS</span>
				</div>
				<div class="clr"></div>
			</div>
			<div class="menDiv">
				<div class="backColr" id="speed" ng-click="select_feedback_category('speed',2)">
					<%= image_tag 'b_speed_1.png' %>
					<span class="feedbackStep2Txt">SPEED</span>
				</div>
				<div class="backColr" id="ambiance" ng-click="select_feedback_category('ambiance',3)">
					<%= image_tag 'b_ambiance_1.png' %>
					<span class="feedbackStep2Txt">AMBIANCE</span>
				</div>
				<div class="clr"></div>
			</div>
			<div class="menDiv">
				<div class="backColr" id="cleanliness" ng-click="select_feedback_category('cleanliness',4)">
					<%= image_tag 'b_cleanliness_1.png' %>
					<span class="feedbackStep2Txt">CLEANLINESS</span>
				</div>
				<div class="backColr" id="value" ng-click="select_feedback_category('value',5)">
					<%= image_tag 'b_value_1.png' %>
					<span class="feedbackStep2Txt">VALUE FOR MONEY</span>
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<div class="footerDiv">	
			<div class="prev">
				<div class="prevTxt" ng-click="previous()">
					PREVIOUS
				</div>
				<%= image_tag 'p_arrow_left.png' %>
			</div>
			<div class="nxt">
				<div class="nxtTxt" ng-click="next()">
					NEXT
				</div>
				<%= image_tag 'y_arrow_right.png' %>
				<div class="clr"></div>
			</div>
		</div>

	</div>

