<div id="homePage" align="center" ng-controller="homePageController" data-role="page">
		<div ng:include="'<%= asset_path 'tablet_header.html' %>'"></div>
		<div class="home_page_view">
			<div class="feedback_step">
				<div class="divPadding promo_code">
					<span class="promo_txt">Promoter Score</span><br/>
					<span class="promo_value">10</span>
				</div>
				<div class="divPadding promo_code_def">
					<div class="def_icon"><%= image_tag 'ic_yellow_tick.png' %><br/>
						Food
					</div>
					<div class="def_icon"><%= image_tag 'ic_yellow_tick.png' %><br/>
						Speed
					</div>
					<div class="def_icon"><%= image_tag 'ic_red_cross.png' %><br/>
						Ambiance
					</div>
					<div class="def_icon"><%= image_tag 'ic_yellow_tick.png' %><br/>
						Value
					</div>
					<div class="def_icon"><%= image_tag 'ic_red_cross.png' %><br/>
						Friendliness
					</div>
					<div class="def_icon"><%= image_tag 'ic_grey_round.png' %><br/>
						Clean
					</div>
				</div>
				<div class="divPadding promo_code_desc">
					<span>The smokehouse BBQ chicken is the best sandwich that has ever been added to the 
					stole of satwiches. It has all the flavour of fattning sandwiches but
					with the healthy side...</span>
				</div>
				<div class="clr"></div>
					<div class="update_time">5 minutes ago</div>
			</div>
			
		</div>
</div>