<div id="insights" align="center" ng-controller="insightsController" data-role="page">
	<div ng:include="'<%= asset_path 'tablet_header.html' %>'"></div>
	<div class="insight_graph">
		<!-- <highchart id="chart1" series="chart.series" title="chart.title" options="chart.options"></highchart> -->
		<div class="score_1">
			<div class="net_score">
				<span class="txt1">Net Promoter Score</span><br/>
				<span class="value1">34%</span>
			</div>
			<div class="daily_change">
				<span class="rate_plus rate1V">&nbsp;</span>
				<span class="txt1">Daily Change</span><br/>
				<%= image_tag 'ic_yellow_arrow.png' %>
				<span class="value1">2%</span>
			</div>
		</div>
		<div class="main_score">
		<div class="score_div">
			<div class="net_score">
				<span class="txt1">Food</span>
			</div>
			<div class="daily_change">
				<span class="rate_plus rate2V">&nbsp;</span>
				<%= image_tag 'ic_yellow_arrow.png' %>
				<span class="value1">+2%</span>
			</div>

		</div>
		<div class="score_div">
			<div class="net_score">
				<span class="txt1">Speed of <br/>Service</span>
				<span class="rate_minus rate3V">&nbsp;</span>
			</div>
			<div class="daily_change">
				<%= image_tag 'ic_yellow_arrow.png' %>
				<span class="value1">-5%</span>
			</div>
		</div>
		<div class="score_div">
			<div class="net_score">
				<span class="txt1">Friendliness <br/>of Service</span>
			</div>
			<div class="daily_change">
				<span class="rate_plus rate2V">&nbsp;</span>
				<%= image_tag 'ic_yellow_arrow.png' %>
				<span class="value1">12%</span>
			</div>
		</div>
		<div class="score_div">
			<div class="net_score">
				<span class="txt1">Cleanliness</span>
			</div>
			<div class="daily_change">
				<span class="rate_plus rate2V">&nbsp;</span>
				<%= image_tag 'ic_yellow_arrow.png' %>
				<span class="value1">+27%</span>
			</div>
		</div>
		<div class="score_div">
			<div class="net_score">
				<span class="txt1">Ambience</span>
				<span class="rate_minus rate3V">&nbsp;</span>
			</div>
			<div class="daily_change">
				<%= image_tag 'ic_yellow_arrow.png' %>
				<span class="value1">-160%</span>
			</div>
		</div>
		<div class="score_div">
			<div class="net_score">
				<span class="txt1">Value for Money</span>
			</div>
			<div class="daily_change">
				<span class="rate_plus rate2V">&nbsp;</span>
				<%= image_tag 'ic_yellow_arrow.png' %>
				<span class="value1">0%</span>
			</div>
		</div>
		<div class="score_final">
			<div class="net_score">
				<span class="txt1">Feedback Submissions</span><br/>
				<span class="value1">34</span>
			</div>
			<div class="daily_change">
				<span class="txt1">Rewards Pool</span><br/>
				<span class="value1">Dhs. 831</span>
			</div>
		</div>
	</div>
	</div>
</div>