<div id="insights" align="center" ng-controller="insightsController" data-role="page">
	<div ng:include="'<%= asset_path 'tablet_header.html' %>'"></div>
	<div class="insight_graph">
		<!-- <highchart id="chart1" series="chart.series" title="chart.title" options="chart.options"></highchart> -->
		<div class="score_1">
			<div class="net_score">
				<span class="txt1">Net Promoter Score</span>
				<br/>
				<span class="value1">{{netScoreLike}}%</span>
			</div>
			<div class="daily_change">
				<span class="rate_plus" style="width: {{netScoreLike}}%">&nbsp;</span>
				<span class="txt1">Daily Change</span>
				<br/>
				<div ng-switch on="netflag">
					<div ng-switch-when="1">
						<%= image_tag 'ic_yellow_arrow.png' %>
						<span class="value1">+{{netScoreDailyChange}}%</span>
					</div>
					<div ng-switch-when="0">
						<%= image_tag 'ic_red_arrow.png' %>
						<span class="value1">+{{netScoreDailyChange}}%</span>
					</div>
				</div>
			</div>
		</div>
		<div class="score_1">
			<div class="net_score">
				<span class="txt1">Net Promoter Score</span>
				<br/>
				<span class="value1">{{netScoreDisLike}}%</span>
			</div>
			<div class="daily_change">
				<span class="rate_minus" style="width: {{netScoreDisLike}}%">&nbsp;</span>
				<span class="txt1">Daily Change</span>
				<br/>
				<%= image_tag 'ic_yellow_arrow.png' %>
				<span class="value1">-{{netScoreDailyChange}}%</span>
			</div>
		</div>
		<div class="main_score">
			<div class="score_div">
				<div class="net_score">
					<span class="txt1">Food</span>
					<span class="rate_minus" style="width: {{foodDisLike}}%">&nbsp;</span>
					<span class="rateMValue rate_minus">-{{foodDisLike}}%</span>
				</div>

				<div class="daily_change">
					<span class="rate_plus" style="width: {{foodLike}}%">&nbsp;</span>
					<span class="ratePValue rate_plus">{{foodLike}}%</span>
					<div ng-switch on="foodFlag">
						<div ng-switch-when="1">
							<%= image_tag 'ic_yellow_arrow.png' %>
							<span class="value1">+{{foodDailyChange}}%</span>
						</div>
						<div ng-switch-when="0">
							<%= image_tag 'ic_red_arrow.png' %>
							<span class="value1">{{foodDailyChange}}%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="score_div">
				<div class="net_score">
					<span class="txt1">Speed of
						<br/>
						Service</span>
					<span class="rate_minus" style="width: {{speedDisLike}}%">&nbsp;</span>
					<span class="rateMValue rate_minus">-{{speedDisLike}}%</span>
				</div>
				<div class="daily_change">
					<span class="rate_plus" style="width: {{speedLike}}%">&nbsp;</span>
					<span class="ratePValue rate_plus">{{speedLike}}%</span>
					<div ng-switch on="speedFlag">
						<div ng-switch-when="1">
							<%= image_tag 'ic_yellow_arrow.png' %>
							<span class="value1">+{{speedDailyChange}}%</span>
						</div>
						<div ng-switch-when="0">
							<%= image_tag 'ic_red_arrow.png' %>
							<span class="value1">{{speedDailyChange}}%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="score_div">
				<div class="net_score">
					<span class="txt1">Friendliness
						<br/>
						of Service</span>
					<span class="rate_minus" style="width: {{friendlinessDisLike}}%">&nbsp;</span>
					<span class="rateMValue rate_minus">-{{friendlinessDisLike}}%</span>
				</div>
				<div class="daily_change">
					<span class="rate_plus" style="width: {{friendlinessLike}}%">&nbsp;</span>
					<span class="ratePValue rate_plus">{{friendlinessLike}}%</span>
					<div ng-switch on="friendlinessFlag">
						<div ng-switch-when="1">
							<%= image_tag 'ic_yellow_arrow.png' %>
							<span class="value1">+{{friendlinessDailyChange}}%</span>
						</div>
						<div ng-switch-when="0">
							<%= image_tag 'ic_red_arrow.png' %>
							<span class="value1">{{friendlinessDailyChange}}%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="score_div">
				<div class="net_score">
					<span class="txt1">Cleanliness</span>
					<span class="rate_minus" style="width: {{cleanlinessDisLike}}%">&nbsp;</span>
					<span class="rateMValue rate_minus">-{{cleanlinessDisLike}}%</span>
				</div>
				<div class="daily_change">
					<span class="rate_plus" style="width: {{cleanlinessLike}}%">&nbsp;</span>
					<span class="ratePValue rate_plus">{{cleanlinessLike}}%</span>
					<div ng-switch on="cleanlinessFlag">
						<div ng-switch-when="1">
							<%= image_tag 'ic_yellow_arrow.png' %>
							<span class="value1">+{{cleanlinessDailyChange}}%</span>
						</div>
						<div ng-switch-when="0">
							<%= image_tag 'ic_red_arrow.png' %>
							<span class="value1">{{cleanlinessDailyChange}}%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="score_div">
				<div class="net_score">
					<span class="txt1">Ambience</span>
					<span class="rate_minus" style="width: {{ambienceDisLike}}%">&nbsp;</span>
					<span class="rateMValue rate_minus">-{{ambienceDisLike}}%</span>
				</div>
				<div class="daily_change">
					<span class="rate_plus" style="width: {{ambienceLike}}%">&nbsp;</span>
					<span class="ratePValue rate_plus">{{ambienceLike}}%</span>
					<div ng-switch on="ambienceFlag">
						<div ng-switch-when="1">
							<%= image_tag 'ic_yellow_arrow.png' %>
							<span class="value1">+{{ambienceDailyChange}}%</span>
						</div>
						<div ng-switch-when="0">
							<%= image_tag 'ic_red_arrow.png' %>
							<span class="value1">{{ambienceDailyChange}}%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="score_div">
				<div class="net_score">
					<span class="txt1">Value for Money</span>
					<span class="rate_minus" style="width: {{valueDisLike}}%">&nbsp;</span>
					<span class="rateMValue rate_minus">-{{valueDisLike}}%</span>
				</div>
				<div class="daily_change">
					<span class="rate_plus" style="width: {{valueLike}}%">&nbsp;</span>
					<span class="ratePValue rate_plus">{{valueLike}}%</span>
					<div ng-switch on="valueFlag">
						<div ng-switch-when="1">
							<%= image_tag 'ic_yellow_arrow.png' %>
							<span class="value1">+{{valueDailyChange}}%</span>
						</div>
						<div ng-switch-when="0">
							<%= image_tag 'ic_red_arrow.png' %>
							<span class="value1">{{valueDailyChange}}%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="score_final">
				<div class="net_score">
					<span class="txt1">Feedback Submissions</span>
					<br/>
					<span class="value1">{{feedCount}}</span>
				</div>
				<div class="daily_change">
					<span class="txt1">Rewards Pool</span>
					<br/>
					<span class="value1">Dhs. {{points}}</span>
				</div>
			</div>
		</div>
	</div>
</div>