<div data-role="page" data-theme="b" id="settings" ng-controller="settingsController">
	<style>
.logout {
background-image: url(<%= asset_path 'sprite_mobile.png' %>
);
background-position: -899px -475px;
cursor: pointer;
float: right;
height: 54px;
width: 48px;
}
.home {
background-image: url(<%= asset_path 'sprite_mobile.png' %>
	);
	background-position: -309px -471px;
	cursor: pointer;
	float: left;
	height: 56px;
	width: 45px;
	}
	</style>
	<div data-role="content">
		<div class="username">
			<div class="logout" ng-click="logout()"></div>
			<div class="home" ng-click="home()"></div>
			<div class="signUp">
				SETTINGS!
			</div>
			<div class="clr"></div>
		</div>
		<div data-role="fieldcontain" class="profileText" align="center">
			<h2>My Profile</h2>
		</div>
		<div data-role="fieldcontain" class="settingDiv" align="center">
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="text" name="txtUsername" ng-model="firstName" placeholder="First Name"/>
			</div>
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="lastName" class="passwordTxt" placeholder="Last Name"/>
			</div>
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="email" name="txtPassword" ng-model="email" class="passwordTxt" placeholder="Email" readonly/>
			</div>
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="currentPassword" class="passwordTxt" placeholder="Current Password"/>
			</div>
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="newPassword" class="passwordTxt" placeholder="New Password"/>
			</div>
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="confirmPassword" class="passwordTxt" placeholder="Confirm Password"/>
			</div>
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="location" class="passwordTxt" placeholder="Location"/>
			</div>
			<div data-role="fieldcontain" class="genderBtn ui-input-text ui-body-a">
				<label for="toggleswitch1"> Gender </label>
				<select name="toggleswitch1" id="toggleswitch1" data-theme="a" ng-model="gender" data-role="slider"
				data-mini="true">
					<option value="Male"> Male </option>
					<option value="Female"> Female </option>
				</select>
			</div>
			<div class="ui-input-text ui-body-a dateDiv">
				<label class="dateLabel"> Date of birth</label>
				<div class="date">
					<input data-theme="a" data-inline="true" type="number" name="date" ng-model="date" maxlength="2" class="dateInner" placeholder="D"/>
					<input data-theme="a" data-inline="true" type="number" name="date" ng-model="month" maxlength="2" class="dateInner" placeholder="M"/>
					<input data-theme="a" data-inline="true" type="number" name="date" ng-model="year" maxlength="4" class="dateInner" placeholder="Y"/>
				</div>
				<div class="clr"></div>
			</div>
			<p class="errorMsg" ng-show="errorMsg">
				{{error}}
			</p>
			<p class="succMsg" ng-show="succMsg">
				Profile updated successfully!!!
			</p>
			<div data-role="fieldcontain" class="profileTextBottom" align="center">
				<h2>Notifications</h2>
			</div>
			<div class="ui-input-text ui-body-a notificationCheckbox">
				<label>@</label>
				<%= image_tag 'ic_ticks.png' %>
				<div class="clr"></div>
			</div>
			<div data-role="fieldcontain" class="profileTextBottom" align="center">
				<h2>Social</h2>
			</div>
			<div class="ui-input-text ui-body-a notificationCheckboxFb">
				<label><%= image_tag 'ic_fb_small_purple.png' %></label>
				<%= image_tag 'ic_ticks_grey.png' %>
				<div class="clr"></div>
			</div>
			<div class="ui-input-text ui-body-a notificationCheckboxTwitter">
				<label><%= image_tag 'ic_twitter_small_purple.png' %></label>
				<%= image_tag 'ic_ticks_grey.png' %>
				<div class="clr"></div>
			</div>

			<div data-role="fieldcontain" class="profileTextBottom" align="center">
				<h2>Invite friends</h2>
			</div>

			<div class="ui-input-text ui-body-a inviteFriends">
				<a href="#"><%= image_tag 'ic_fb_yellow.png' %></a>
				<a href="#"><%= image_tag 'ic_twitter_yellow.png' %></a>
				<a href="#"><%= image_tag 'ic_gplus_yellow.png' %></a>
			</div>
			<div class="border"></div>
			<div id="transactionHistory" ng-click="tansactionHistory()">
				<span>Transaction History</span>
				<a href="#"><%= image_tag 'ic_calender_yellow.png' %></a>
				<div class="clr"></div>
			</div>
			<input type="button" class="signBtn" ng-click="saveProfile()" data-inline="true" value="Save"/>
			
		</div>
	</div>
</div>
