<div data-role="page" data-theme="b" id="settings" ng-controller="settingsController">
	<div data-role="content">
		<div class="username">
			<div class="logout" ng-click="logout()"></div>
			<div class="home" ng-click="home()"></div>
			<div class="signUp">
				SETTINGS
			</div>
			<div class="clr"></div>
		</div>
		<div data-role="fieldcontain" class="profileText" align="center">
			<h2>My Profile</h2>
		</div>
		<div data-role="fieldcontain" class="settingDiv" align="center">
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="text" name="txtUsername" ng-model="firstName" placeholder="First Name"/>
			</div>
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="lastName" class="passwordTxt" placeholder="Last Name"/>
			</div>
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="email" name="txtPassword" ng-model="email" class="passwordTxt" placeholder="Email" readonly/>
			</div>
			<div class="ui-input-text ui-body-a" ng-click="changePassword()">
				<input data-theme="a" data-inline="true" type="password" name="txtPassword" class="passwordTxt" placeholder="Change Password"/>
			</div>
			<!-- <div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="currentPassword" class="passwordTxt" placeholder="Current Password"/>
			</div> -->
			<!-- <div class="ui-input-text ui-body-a">
			<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="newPassword" class="passwordTxt" placeholder="New Password"/>
			</div>
			<div class="ui-input-text ui-body-a">
			<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="confirmPassword" class="passwordTxt" placeholder="Confirm Password"/>
			</div> -->
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="location" class="passwordTxt" placeholder="Location"/>
			</div>
			<div data-role="fieldcontain" class="genderBtn ui-input-text ui-body-a">
				<label for="toggleswitch1"> Gender </label>
				<select name="toggleswitch1" id="toggleswitch1" data-theme="a" ng-model="gender" data-role="slider"
				data-mini="true">
					<option value="Male"> Male </option>
					<option value="Female"> Female </option>
				</select>
			</div>
			<div class="ui-input-text ui-body-a dateDiv">
				<label class="dateLabel"> Date of birth</label>
				<div class="date">
					<input data-theme="a" data-inline="true" type="text" name="date" onfocus="this.type='number';" ng-model="date" maxlength="2" class="dateInner" id="date" placeholder="D" onkeyup="moveToNext(this,'month')"/>
					<input data-theme="a" data-inline="true" type="text" name="date" onfocus="this.type='number';" ng-model="month" maxlength="2" class="dateInner" id="month" placeholder="M" onkeyup="moveToNext(this,'year')"/>
					<input data-theme="a" data-inline="true" type="text" name="date" onfocus="this.type='number';" ng-model="year" maxlength="4" class="dateInner" id="year" placeholder="Y"/>
				</div>
				<div class="clr"></div>
			</div>
			<p class="errorMsg" ng-show="errorMsg">
				{{error}}
			</p>
			<p class="succMsg" ng-show="succMsg">
				Profile updated successfully!!!
			</p>
			<div data-role="fieldcontain" class="profileTextBottom" align="center">
				<h2>Notifications</h2>
			</div>
			<div class="ui-input-text ui-body-a notificationCheckbox">
				<label>@</label>
				<%= image_tag 'ic_ticks.png' %>
				<div class="clr"></div>
			</div>
			<div data-role="fieldcontain" class="profileTextBottom" align="center">
				<h2>Social</h2>
			</div>
			<div class="ui-input-text ui-body-a notificationCheckboxFb">
				<label><%= image_tag 'ic_fb_small_purple.png' %></label>
				<%= image_tag 'ic_ticks_grey.png' %>
				<div class="clr"></div>
			</div>
			<div class="ui-input-text ui-body-a notificationCheckboxTwitter">
				<label><%= image_tag 'ic_twitter_small_purple.png' %></label>
				<%= image_tag 'ic_ticks_grey.png' %>
				<div class="clr"></div>
			</div>

			<div data-role="fieldcontain" class="profileTextBottom" align="center">
				<h2>Invite friends</h2>
			</div>

			<div class="ui-input-text ui-body-a inviteFriends">
				<a href="#"><%= image_tag 'ic_fb_yellow.png' %></a>
				<a href="#"><%= image_tag 'ic_twitter_yellow.png' %></a>
				<a href="#"><%= image_tag 'ic_gplus_yellow.png' %></a>
			</div>
			<div data-role="fieldcontain" class="profileTextBottom" align="center">
				<h2>MY HISTORY</h2>
			</div>
			<div id="transactionHistory" ng-click="tansactionHistory()">
				<span>View Kanari History</span>
				<a href="#"><%= image_tag 'ic_calender_yellow.png' %></a>
				<div class="clr"></div>
			</div>

		</div>
	</div>
	<div class="clr"></div>
	<div class="settingDiv footerDiv" style=" position: relative; margin: 0;">
		<input type="button" class="signBtn" ng-click="saveProfile()" data-inline="true" value="Save"/>
	</div>
</div>
