<div id="header_menu" class="navbar" data-role="header">
	<div data-role="controlgroup" data-type="horizontal">
		<a href="#"  data-role="button" class="ui-btn-active-c"><%= image_tag 'ic_feedback.png' %><br/>
		Feedback</a>
		<a href="#"  data-role="button"><%= image_tag 'ic_insights.png' %><br/>
		Insights</a>
		<a href="#"  data-role="button"><%= image_tag 'ic_redemptions.png' %><br/>
		Redemptions</a>
		<a href="#"  data-role="button"><%= image_tag 'ic_code.png' %><br/>
		Code</a>
	</div>
	<div class="floatRight logoutDiv"><%= image_tag 'ic_logoff_yellow.png' %></div>
</div>
