<!doctype html>
<html lang="en" ng-app="kanari">
	<head>
		<meta charset="utf-8">
		<title ng-bind="header"></title>
		<link href='//fonts.googleapis.com/css?family=Roboto:100,400,700|Open+Sans:400,700|Rock+Salt' rel='stylesheet' type='text/css'>
		<!-- <link href='//fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'> -->
		<%= favicon_link_tag 'favicon.ico' %>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js"></script>
		<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<!-- <script src="http://parall.ax/parallax/js/jspdf.js"></script> --> 	
		<!-- <%= javascript_include_tag "highchart.js" %> -->			
		

		<script src="//netdna.bootstrapcdn.com/bootstrap/2.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>

		<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag "application", :media => "all" %>
		
	</head>
	<body>
		<div class="content" ng-controller="commonCtrl">
			<div class="header">
				<div class="headerLogo span12">
					<a class="kanarilogo" href="" ng-click="goTOOulet()"><%= image_tag 'business_logo.svg' %></a>
					<div class="welcome">
						Hello <a ng-click="goTOOulet()" class="userName" id="userName">{{userName}}</a>
						<%= image_tag 'div_line_logout.jpg' %>
						<a ng-click="logout()" class="logOut"><%= image_tag 'icon_logout.png' %> Logout</a>
					</div>
				</div>
			</div>
			<div class="hideNav navBarCls">
				<ul class="span12 nav nav-tabs">
					<li id="account">
						<a href="#/outlet_manager"><%= image_tag 'logo_account_in.png' %> Account</a>
					</li>
					<li ng-show="accountm" id="accountm" >
						<a href="#/outlet_manager_account"><%= image_tag 'logo_account_in.png' %> Account</a>
					</li>
					<li id="dasboard" class="diffLinks" >
						<a href="#/createInvitation" class="active"><%= image_tag 'icon_dasboard_in.png' %> Dashboard</a>
					</li>
					<li id="adminConsole" class="diffLinks">
						<a href="#/adminConsole_outlet" class="active"><%= image_tag 'ic_admin.png' %> Admin Console</a>
					</li>
					<li id="dasboardCustomer" class="diffLinks">
						<a href="#/snapshot" target="_blank" class="active"><%= image_tag 'icon_dasboard_in.png' %>Dashboard</a>
					</li>
					<li class="active diffLinks" id="outlet" >
						<a href="#/outlets"><%= image_tag 'icon_outlet_in.png' %> Outlets</a>
					</li>
				</ul>
			</div>
			<div class="ngView" style=" overflow: hidden;position: relative;" ng-view></div>
			
		</div>
		<div class="footer">
			<div class="span12">
				Copyright © 2013 Kanari. All Rights Reserved.
			</div>
		</div>
	</body>
	<script>
		var chart1 = "";
		var chart2 = "";
		
	</script>
</html>
