<!DOCTYPE html>
<html ng-app="kanariTablet">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no"  />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<title>Kanari</title>
		<link rel="apple-touch-icon" href="/assets/logo_tabletso.png" />
		<!-- <link rel="apple-touch-icon-precomposed" href="/assets/logo_tabletso72.png" /> -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/logo_tablet114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/logo_tabletso72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/logo_tablet57.png" />

		<!-- <link rel="apple-touch-startup-image" href="/assets/logo_tablet320x460.png"/> -->

		<link href="/assets/logo_tablet320x460.png" sizes="320x480" media="(device-height: 480px)" rel="apple-touch-startup-image">
		<!-- iPhone (Retina) LAUNCHSCREEN-->
		<link href="/assets/logo_tablet320x460.png" sizes="640x920" media="(device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
		<!-- iPhone 5+ LAUNCHSCREEN-->
		<link href="/assets/logo_tabletso320X548.png" sizes="640x1136" media="(device-height: 568px)" rel="apple-touch-startup-image">

		<meta name="description" content="Kanari">
		<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag "bootstrap.css", :media => "all" %>
		<%= javascript_include_tag "jquery.js" %>
		<%= javascript_include_tag "angular.js" %>
		<%= javascript_include_tag "moment.min.js" %>
		<%= javascript_include_tag "add2home.js" %>
		<!-- <script type='text/javascript' src="https://rawgithub.com/timrwood/moment/2.1.0/min/moment.min.js"></script> -->
		<%= javascript_include_tag "iscroll.js" %>
		<%= javascript_include_tag "app_tablet" %>
		<%= javascript_include_tag "controllers_tablet.js" %>
		<!-- <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'> -->
		<%= stylesheet_link_tag "jquery.mobile-1.3.0.css", :media => "all" %>
		<%= stylesheet_link_tag "app_tablet.css", :media => "all" %>
		<%= stylesheet_link_tag "add2home.css", :media => "all" %>
	</head>
	<body>
		<div ng-show="userLogin" class="userloggedIn" id="header_menu" class="navbar" ng-controller="headerCtrl">
			<div data-role="controlgroup" data-type="horizontal">
				<div class="headerDiv">
					<a id="feedback" href="#/feedback" class="ui_btn"  data-role="button" >
						<!--<%= image_tag 'ic_feedback.png' %>-->
						<%= image_tag( '/assets/icon_feedback.svg', height: '59') %>
					<br/>
					Feedback
					<br/>
					<span class="arrow-down">&nbsp;</span> </a>
				</div>
				<div class="headerDiv">
					<a id="insights" href="#/insights" class="ui_btn"  data-role="button">
						<!--<%= image_tag 'ic_insights.png' %>-->
						<%= image_tag( '/assets/icon_insights.svg', height: '59') %>
					<br/>
					Insights
					<br/>
					<span class="arrow-down">&nbsp;</span> </a>
				</div>
				<div class="headerDiv">
					<a id="redemption" href="#/redemption" class="ui_btn"   data-role="button">
						<!--<%= image_tag 'ic_redemptions.png' %>-->
						<%= image_tag( '/assets/icon_redeemptions.svg', height: '59') %>
					<br/>
					Redemptions
					<br/>
					<span class="arrow-down">&nbsp;</span> </a>
				</div>
				<div class="headerDiv">
					<a id="numeric_code" href="#/numeric_code" class="ui_btn" data-role="button">
						<!--<%= image_tag 'ic_code.png' %>-->
						<%= image_tag( '/assets/icon_code.svg', height: '59') %>
					<br/>
					Code
					<br/>
					<span class="arrow-down">&nbsp;</span> </a>
				</div>
				<div class="logoutDiv">
					<a href="javascript:void(0)" class="logOut ui_btn" ng-click="showPopup()" data-role="button">
						<!--<%= image_tag 'ic_logout.png' %>-->
						<%= image_tag( '/assets/icon_logout_tab.svg', height: '29') %>
					</a>
						
				</div>
			</div>
		</div>
		<div class="clr"></div>
		<div ng-show="userLogin" class="userloggedIn marginTop" ng-show="userLogin" ng-controller="headerCtrl">
			<div ng-show="popup" class="popup clearfix">
				<h4>Are you sure you want to log out?</h4>
				<div class="btn floatLeft">
					<button ng-click="logout()">
						Yes
					</button>
				</div>
				<div class="btn floatLeft">
					<button ng-click="cancel()">
						No
					</button>
				</div>
			</div>
		</div>
		<div class="clr"></div>
		<div id="overlaySuccess">
			<img src="/assets/ajaxloader.gif">
		</div>
		<div id="wrapper" class="ngView scrollable" ng-view></div>
	</body>
</html>
